@font-face {
    font-family: 'Big Shoulders Inline';
    src: url('fonts/BigShouldersInline-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #fff;
    font-family: 'Big Shoulders Inline', 'Kranky', 'Montserrat', sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
}

main {
    padding: 2em;
    max-width: 900px;
    margin: auto;
}

header,
footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 1em;
}

a {
    color: #000;
    text-decoration: underline;
}

ul {
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    text-align: center;
    margin-top: 20px;
}

.logo img {
    max-width: 400px;
    height: auto;
    padding: 5px;
}

.artist-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: #fff;
}

.artist-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5em;
}

.artist:hover {
    background-color: #f0f0f0;
}

h2 {
    border-bottom: 2px dashed #000;
    padding-bottom: 0.3em;
    margin-top: 2em;
}



.intro {
    text-align: center;
    font-size: 1em;
}